<header class="masthead" style="background-image: url('/img/{{postId.image}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{ postId.title }}</h1>
                    <span class="meta">Posted by
                        <a href="#">{{ postId.username }}</a>
                        on {{ postId.createdAt }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <article>
                <div class="container">
                    <div class="row">
                        {{ postId.content }}
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>